.main_container {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin:10px 10px 0 10px
}

.buttons > *{
    margin:10px
}

.buttons_container > .button_componente {
    margin: 5px;
}

.switch_filtrar_container{
    display:flex;
    flex-direction:column;
    align-items:center;    
}

.grid_container {
    margin:10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dx-datagrid {
    background-color: #E6E6F5;
}

