@{ViewData["Title"] = "Projetos";}

<div class="main_container">
    <div class="buttons">
        <div class="button_componente"><div id="btn_adicionar"></div></div>
        <div class="button_componente"><div id="btn_editar"></div></div>
        <div class="button_componente"><div id="btn_excluir"></div></div>
        <div class ="button_componente switch_filtrar_container">
            <span>FILTRAR</span>
            <div id="switch_filtrar"></div>
        </div>
   </div>
    <div class="grid_container">
        <div id="gridContainer"></div>
    </div>
</div>

<script src="~/Projeto/ProjetoIndex.js"></script>
<link href="~/Projeto/ProjetoIndex.css" rel="stylesheet" />